* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*header section*/

.banner-container {
    padding: 30px;
    display: flex;
    height: 100vh;

    background-color: #e554731a;
    align-items: center;
    justify-content: space-between;



}



.banner-title {
    color: #272727;

    font-size: 55px;

    font-weight: 800;

}

.banner-description {
    color: #27272799;

    font-size: 16px;

    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;

}

.banner-container .banner-img {
    width: 400px;


}

.btn {
    padding: 20px 40px;
    background-color: #E55473;
    color: white;
    border-radius: 8px;
    border: none;
}


/*main section*/

/*hot deals*/

.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E554730D;
    height: 60vh;
    margin-top: 15vh;
    margin-bottom: 15vh;

}

.hot-deal-title {
    color: #272727;

    font-size: 30px;

    font-weight: 800;

}

.hot-deal-description {
    color: #27272799;
    
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 18px;
    
}
.hot-deal-pic{
    width: 200px;
    height: 300px;
}